.container {
    padding: 10px 10px;
    width: 100%;
    min-height: 100%;
    background: #201355;
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
}

.container * {
    color: white;
}

.card {
    padding: 10px 5px;
    display: inline-block;
}

.albumNameContainer {
    margin: 5px 0px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
}

.albumName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heart {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: pointer;
}