.container {
    width: 100vw;
    min-height: 100vh;
    background: beige;
    overflow: hidden;
}

.header {
    height: 50px;
    background: black;
    background: blue;
    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .container {
        flex-wrap: wrap;
    }

    .header {
        font-size: 11px;
    }
}