.container {
    min-height: calc(100vh - 50px);
    /* width: calc(100vw - 250px); */
    flex: 1;
    background: greenyellow;
    align-content: baseline;
}

@media screen and (max-width: 640px) {
    .container {
        flex: 1;
    }
}