.container {
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    outline: 1px solid black;
}

@media screen and (max-width: 640px) {
    .container {
        min-height: initial;
        flex-wrap: wrap;
    }
}
