.container {
    display: flex;
    flex-direction: column;
}

.label {
    padding: 10px 0;
}

.favouritesList {
    /*margin-left: 15px;*/
}

.artistInfo {
    display: flex;
}

.cancel {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.albumName {
    flex: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artistName {
    width: 10%;
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .favouritesList {
        overflow-y: scroll;
        height: 90%;
        margin-bottom: 10px;
    }

    .container {
        height: 150px;
    }
}