.container {
    min-width: 300px;
    width: 23%;
    min-height: calc(100vh - 50px);
    outline: 1px solid blue;
    padding: 8px;
}

.select {
    width: 100%;
    z-index: 10000;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100vw;
        height: 200px;
        overflow-y: scroll;
        min-height: initial;
    }   
}